body {
  margin: 0 ;
  font-family: -apple-system, BlinkMacSystemFont, "Roboto", "Poppins", Arial !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: aliceblue;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
