.inputData{
    text-align: center;  
    margin-top: 20px
}

.inputfield{
    width: 250px;
    height: 30px;
}
.box{
    display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 80px;
  width: 30%;
    background-color: dodgerblue;
   height: 350px;
  border: 4px solid rgb(17, 16, 16);
  box-shadow: 0 0 20px 5px #ffffff;
  border-radius: 10px;
}